	*{
		transition: all 0.2s;
	}
	button {
  		-webkit-app-region: no-drag;
  		outline: none;
	}
	html,body{
		min-width: 320px;
		width: 100%;
		height: 100%;
		padding: 0;
		margin: 0;
	}
	.music-player{
		user-select:  none;
		width: 100%;
		height: 100%;
		overflow: hidden;
		position: relative;
	}
	.window-btns{
		position: absolute;
		right: 0;
		top: 0;
		z-index: 1;
		width: 144px;
		height: 24px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.window-btn{
		padding: 0;
		text-align: center;
		font-size: 12px;
		line-height: 18px;
		background-color: inherit;
		border:none;
		outline: none;
		height: 24px;
		width: 36px;
	}
	.window-btn:hover{
		background-color: rgba(0,0,0,0.3);
	}
	.blur-filter{
		background-image: url(../img/music-background.jpeg);
		background-size:cover;
		background-position: center;
		background-repeat: no-repeat;
		position: absolute;
		z-index: -1;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		filter: blur(10px);
	}
	@media screen and (max-width: 799px){
		.list-panel{
			display: none;
			overflow:auto;
  			-webkit-app-region: no-drag;
			height: 100%;
			float: left;
			width: 0px;
			background-color: rgba(0,0,0,0.02);
			box-shadow: -3px 0px 5px 1px rgba(0,0,0,0.2) inset;
		}
		.list-panel::-webkit-scrollbar {/*滚动条整体样式*/
        	width: 10px;     /*高宽分别对应横竖滚动条的尺寸*/
        	/*height: 1px;*/
    	}
    	.list-panel::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
        	border-radius: 5px;
        	background: rgba(255,255,255,0.4);
        	box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    	}
		.list-panel::-webkit-scrollbar-track {/*滚动条里面轨道*/
       		-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
        	border-radius: 3px;
        	background: inherit;
    	}
		.right-panel{
			height: 100%;
			margin-left: 0px;
		}
		.tool-panel{
			box-sizing: border-box;
			border-top: 1px solid rgba(255,255,255,0.5);
			position: relative;
			overflow: hidden;
			height: 90px;
		}
		.slider-wrapper{
			display: none;
			height: 80px;
			width: 100%;
			position: relative;
		}
		.buttons-wrapper{
			float: left;
			width: 200px;
			height: 80px;
			position: relative;
		}
		.volume-wrapper{
			float: right;
			position: relative;
			width:100px;
			height: 80px;
		}

	}@media screen and (min-width: 800px){
		.list-panel{
			height: 100%;
			float: left;
			width: 240px;
			overflow: auto;
  			-webkit-app-region: no-drag;
			background-color: rgba(200,200,200,0.6);
			box-shadow: -3px 0px 5px 1px rgba(0,0,0,0.2) inset;
		}
		.list-panel::-webkit-scrollbar {/*滚动条整体样式*/
        	width: 6px;
        	/*background-color: inherit;*/
        	opacity: 0;
    	}
    	.list-panel::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
        	border-radius: 5px;
        	transition: 0.5 all;
    	}
    	.list-panel:hover::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
        	background: rgba(0,0,0,0.4);
        	box-shadow: inset 0 0 3px 0px rgba(255,255,255,0.6);
    	}
		.list-panel::-webkit-scrollbar-track {/*滚动条里面轨道*/
       		-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
       		display: none;
        	border-radius: 3px;
        	background: inherit;
        	opacity: 0;
    	}

		.right-panel{
			height: 100%;
			margin-left: 240px;
		}
		.visul-panel{
		/*height: calc(100% - 80px);*/
		}
		.tool-panel{
			box-sizing: border-box;
  			-webkit-app-region: no-drag;
			border-top: 1px solid rgba(255,255,255,0.5);
			position: relative;
			overflow: hidden;
			height: 80px;
			padding-left: 200px;
			padding-right: 100px;
		}
		.slider-wrapper{
			float: left;
			height: 100%;
			width: 100%;
			position: relative;
		}
		.buttons-wrapper{
			float: left;
			left: -200px;
			margin-left: -100%;
			width: 200px;
			height: 100%;
			position: relative;

		}
		.volume-wrapper{
			float: left;
			right: -100px;
			margin-left: -100px;
			height: 100%;
			position: relative;
			width:100px;
		}
	}
	

	.buttons{
		position: absolute;
		top: 0;
		bottom: 0;
		padding: 0;
		margin-top: auto;
		margin-bottom: auto;
		/*position: relative;*/
		padding-left: 20px;
		padding-right: 20px;
		width: 160px;
		height: 50px;
		display: inline-block;
	}
	.tool{
		top: 0;
		bottom: 0;
		padding: 0;
		margin-left: 5px;
		margin-top: auto;
		margin-bottom: auto;
		box-sizing: border-box;
		border:1px solid rgba(255,255,255,0.5);
		box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.2);
		border-radius: 50% 50%;
		background-color: inherit;
		cursor: pointer;
		transition: 0.4s box-shadow;
	}
	.tool:hover{
		box-shadow: 0px 0px 2px 1px rgb(255,150,150);
	}
	.prev{
		background-image: url('../img/prev.png');
		background-size: 100%;
		width: 40px;
		height: 40px;
	}
	.next{
		background-image: url('../img/next.png');
		background-size: 100%;
		width: 40px;
		height: 40px;
	}
	.play{
		background-image: url('../img/play.png');
		background-size: 100%;
		width: 50px;
		height: 50px;
	}
	.media-item{
  		-webkit-app-region: no-drag;

		box-sizing: border-box;
		width: 100%;
		height: 3em;
		padding-left: 1em;
		line-height: 3em;
		cursor: pointer;
		overflow: hidden;
		text-overflow:ellipsis;
		white-space: nowrap;

	}
	.media-item:hover{
		background: rgba(0,0,0,0.1);
	}
	.selected{
		background: rgba(0,0,0,0.2);
		color: white;
	}
	
	input[type=range] {
  		-webkit-app-region: no-drag;
		outline: none;
		top: 0;
		bottom: 0;
		padding:0px;
		height: 6px;
		margin-top: auto;
		margin-bottom: auto;
		appearance:none;
    	-webkit-appearance: none;
    	-moz-appearance:none;
    	background-color: rgba(255,255,255,0.1);
    	box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.2) inset;
    	border-radius: 10px; /*这个属性设置使填充进度条时的图形为圆角*/
	}
	input[type=range]::-webkit-slider-thumb {
	    -webkit-appearance: none;
	    height: 12px;
	    width: 12px;
	    margin-top: 0; /*使滑块超出轨道部分的偏移量相等*/
	    background-color: rgb(250,150,150); 
	    border-radius: 50%; /*外观设置为圆形*/
	    border: none;
	    box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.2);
	}
	#slider{
		margin-left: 5%;
		position: absolute;
		margin-right: 5%;
		width: 90%;
	}
	#volume{
		margin-left: 10%;
		position: absolute;
		margin-right: 10%;
		width: 80%;
	}
/*	#select-file{
  		-webkit-app-region: no-drag;
	}*/